build/*
install/*
compile_commands.json
test/*
test.root
LocalRuns/**
RNTupleFiles/**
external/lhapdf/*
external/libtorch/*
config/config.*
!config/config.default
**/Skim*.json
external/** 
*.onnx
!external/KinematicFitter
!external/jsonpog-integration
!external/RoccoR
**/__pycache__/**
.DS_Store
SKFlatAnalyzer
HSNanoAnalyzer
SKNanoOutput
SKNanoRunlog*
Run*NanoAOD*
.cache/** 
.venv/**
perf.data*
**/.tmp*.root

# Local analysis products
*.csv
*.pdf
*.png
*.zip
*.ipynb
*.log
*.out
*.err
*.npz
*.sub
*.dag
*.metrics
*.keys.json
*_summary.json
Nano.yml
TTLJ_test.json
jet_jerc.json

#Temporary Added to my personal temp files
DataCOPY/** 
MCCOPY/**
.vscode/**
.cursor/**
